@{
    ViewData["Title"] = "Names Options";
}

    <div class="text-center">
        <h1 class="display-4">Names Options</h1>
        <p>@ViewBag.Site1.Url</p>
        <p>@ViewBag.Site1.Key</p>
        <br />
        <p>@ViewBag.Site2.Url</p>
        <p>@ViewBag.Site2.Key</p>
    </div>
