@{
    ViewData["Title"] = "Annotation Validation";
}

    <div class="text-center">
        <h1 class="display-4">Annotation Validation</h1>
        <p>@ViewBag.Site1.Url</p>
        <p>@ViewBag.Site1.Key</p>
        <p>@ViewBag.Site1.Title</p>
    </div>
