@model AspNetCoreConfig.Models.MyValuesConfiguration

@{
    ViewData["Title"] = "Options Forward Via Interface";
}

    <div class="text-center">
        <h1 class="display-4">Options Forward Via Interface</h1>
        <p>@Model.Value1</p>
        <p>@Model.Value2</p>
        <p>@Model.Value3</p>
    </div>
